<h1 class="text-center text-[#369] text-4xl">{{ title }}</h1>
<nav class="text-center mb-5 mt-3">
  <div>
    <a
      class="rounded-lg m-3 text-white p-2 px-32 sm:w-full"
      routerLink="dashboard"
      [routerLinkActive]="['bg-orange-500']"
      >Dashboard</a
    >
  </div>
  <div>
    <a
      class="rounded-lg m-3 text-white p-2 px-32 sm:w-full"
      routerLink="heroes"
      [routerLinkActive]="['bg-orange-500']"
      >Heroes
    </a>
  </div>
</nav>

<!-- Muestra dentro componentes en base a las rutas
    definidas en el app-routing.module.ts 
-->
<router-outlet></router-outlet>
